BasedOnStyle: Mozilla
IndentWidth: 4
ColumnLimit: 120
UseTab: Never
Language: Cpp
Standard: Cpp11
ContinuationIndentWidth: 4
AccessModifierOffset: -4
BinPackParameters: false
SortIncludes: false
AlignConsecutiveMacros:       Consecutive
AlignConsecutiveAssignments:  Consecutive
AlignConsecutiveBitFields:    Consecutive
AlignConsecutiveDeclarations: Consecutive
AllowShortFunctionsOnASingleLine: None
FixNamespaceComments: true
#BreakBeforeBraces: Custom
#BraceWrapping:
#  AfterControlStatement: Never
#  AfterEnum:            true
#  AfterFunction:        false
#  AfterNamespace:       false
#  AfterObjCDeclaration: true
#  AfterStruct:          true
#  AfterUnion:           true
#  AfterExternBlock:     true
#  BeforeCatch:          true
#  BeforeElse:           true
#  BeforeLambdaBody:     true
#  BeforeWhile:          false
#  IndentBraces:         false
#  SplitEmptyFunction:   true
#  SplitEmptyRecord:     true
#  SplitEmptyNamespace:  true
